* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
body {
  padding: 20px;
  color: white;
  background-color: black;
}
h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

main {
  margin: auto;
  width: 1000px;
  height: 600px;
  /* flex */
  display: flex;
}
.slide {
  height: 100%;
  width: calc(100% - 160px);
}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 60px;
}
.prev, .next {
  height: 100%;
  width: 80px;
  font-size: 40px;
  /* flex */
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev i:hover, .next i:hover {
  cursor: pointer;
  transform: scale(1.2);
}

nav {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 0);
  /* estetica */
  padding: 20px;
  width: 220px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 60px;
  /* flex */
  display: flex;
  justify-content: space-around;
}
nav i.active {
  color: dodgerblue;
  transform: scale(1.4);
}
